<h1>Login</h1>

<%= form_tag do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= select_tag "type", options_for_select(["Student", "Parent", "Teacher"]) %>
  <%= submit_tag "Login" %>
<% end %>
